/* ================================================
              Author:	Lauriel Mesquita
             Website:	Initsec
         Description:	HTML5/OOCSS3/LESS
 Layout online since:	2013
         Last Change:	26.11.2013
================================================ */
.mgt {
  margin-top: 115px;
}
.mgb-1 {
  margin-bottom: 200px;
}
/* MENU RULES */
.navbar-toggle {
  margin-top: 13px;
}
.navbar-default {
  padding: 10px 0 10px;
  border: none;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar-nav {
  margin-top: 45px;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'proxima_nova_rgbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #000000;
}
/* CONTAINER RULES */
.wrap {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 300px;
}
/* HEADINGS RULES */
h1.headline-tt {
  margin: 0 0 50px;
  color: #303030;
  font-size: 66px;
  font-family: 'proxima_novaextrabold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 56px;
}
/* SHADOWS E BUTTONS RULES */
a.btn,
.btn:hover,
.btn:focus {
  color: #ffffff;
}
.btn-lg {
  padding: 15px 25px;
  font-size: 20px;
  font-family: 'proxima_nova_rgbold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-1 {
  position: relative;
  background-color: #f44949;
  box-shadow: 0 4px #d33939;
}
.btn-1:hover {
  top: 4px;
  box-shadow: 0 0 #d33939;
}
.btn-2 {
  background-color: #42d0cb;
  box-shadow: 0 4px #34c1bc;
}
/* BACKGROUND RULES */
.color1 {
  background-color: #ffffff;
}
.color2 {
  background-color: #f44949;
}
.color3 {
  background-color: #42d0cb;
}
.color4 {
  background-color: #2b2b2b;
}
.initsec-bg-1 {
  background: url('../images/design/woman.jpg') no-repeat bottom right;
  background-size: contain;
}
/* RESPONSIVE RULES */
@media (max-width: 479px) {
  .wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1.headline-tt {
    font-size: 30px;
    line-height: 26px;
  }
  .nav li {
    display: inline;
    float: left;
  }
  .btn-lg {
    padding: 10px 20px;
  }
}
@media (max-width: 768px) {
  ul.initsec-nav-icon {
    margin: 10px 10px 0 0;
  }
  ul.initsec-nav-icon li {
    display: inline;
    float: left;
  }
  ul.initsec-nav-icon li a {
    padding: 10px;
  }
  ul.initsec-nav-icon li a .glyphicon {
    font-size: 1.8rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  h1.headline-tt {
    font-size: 36px;
    line-height: 31px;
  }
  .navbar-toggle {
    margin-top: 37px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1.headline-tt {
    font-size: 43px;
    line-height: 37px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  h1.headline-tt {
    font-size: 56px;
    line-height: 48px;
  }
}
